ekbase/ekbase_env/
ekbase/storage/
ekbase/logs/
ekbase/data/
ekbase/cache/
ekbase/temp/

# Logs
web/logs/
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

web/node_modules/
web/dist/
web/dist-ssr/
web/*.local

# Editor directories and files
web/.vscode/*
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?

**/__pycache__/

rag_examples.egg-info/

ekbase/.venv/
.env
mcp_server/.venv/